<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="one.kitsune.brswp">
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.software.live_wallpaper" />
  <application
      android:label="Black★Rock Shooter: Animated Wallpaper"
      android:icon="@drawable/icon">
    <service
        android:name="one.kitsune.brswp.LiveWallpaperService"
        android:label="Black★Rock Shooter"
        android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data android:name="android.service.wallpaper" android:resource="@xml/metadata" />
    </service>
    <activity
        android:name="one.kitsune.brswp..LiveWallpaperSettings"
        android:label="Settings"
        android:theme="@android:style/Theme.Light.WallpaperSettings"
        android:exported="true">
    </activity>
  </application>
</manifest>
